<div>
    <h2 translate="tikonApp.notificationSetting.home.title">Notification Settings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="notification-setting.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="tikonApp.notificationSetting.home.createLabel">
                        Create new Notification Setting
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tikonApp.notificationSetting.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sendBookingConfirmation"><span translate="tikonApp.notificationSetting.sendBookingConfirmation">Send Booking Confirmation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sendOnCancelBooking"><span translate="tikonApp.notificationSetting.sendOnCancelBooking">Send On Cancel Booking</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sendOnMoveBooking"><span translate="tikonApp.notificationSetting.sendOnMoveBooking">Send On Move Booking</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sendCustomerReminder"><span translate="tikonApp.notificationSetting.sendCustomerReminder">Send Customer Reminder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reminderTimeInAdvanced"><span translate="tikonApp.notificationSetting.reminderTimeInAdvanced">Reminder Time In Advanced</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notificationSetting in vm.notificationSettings track by notificationSetting.id">
                    <td><a ui-sref="notification-setting-detail({id:notificationSetting.id})">{{notificationSetting.id}}</a></td>
                    <td translate="{{'tikonApp.NotificationType.' + notificationSetting.sendBookingConfirmation}}">{{notificationSetting.sendBookingConfirmation}}</td>
                    <td translate="{{'tikonApp.NotificationType.' + notificationSetting.sendOnCancelBooking}}">{{notificationSetting.sendOnCancelBooking}}</td>
                    <td translate="{{'tikonApp.NotificationType.' + notificationSetting.sendOnMoveBooking}}">{{notificationSetting.sendOnMoveBooking}}</td>
                    <td translate="{{'tikonApp.NotificationType.' + notificationSetting.sendCustomerReminder}}">{{notificationSetting.sendCustomerReminder}}</td>
                    <td>{{notificationSetting.reminderTimeInAdvanced}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="notification-setting-detail({id:notificationSetting.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-setting.edit({id:notificationSetting.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-setting.delete({id:notificationSetting.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
