
<div class=" input-group date-picker">
    <input type="text" class="form-control text-center"  datepicker-popup-persian="yyyy/MM/dd" ng-model="$ctrl.dateValue" is-open="$ctrl.persianIsOpen"  datepicker-options="$ctrl.dateOptions" off-date-list="$ctrl.offDays" min-date="$ctrl.minDate" max-date="$ctrl.maxDate"  date-disabled="$ctrl.disabled(date, mode)" ng-required="true" close-text="بسته" />
               <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.openPersian($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
</div>
