
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPriceInfoDtailLabel" translate="tikonApp.priceInfoDtail.home.createOrEditLabel">Create or edit a Price Info Dtail</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.priceInfoDtail.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.priceInfoDtail.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.priceInfoDtail.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.priceInfoDtail.title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.priceInfoDtail.capacityRatio" for="field_capacityRatio">Capacity Ratio</label>
            <input type="number" class="form-control" name="capacityRatio" id="field_capacityRatio"
                    ng-model="vm.priceInfoDtail.capacityRatio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.priceInfoDtail.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.priceInfoDtail.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.priceInfoDtail.coworkerPrice" for="field_coworkerPrice">Coworker Price</label>
            <input type="number" class="form-control" name="coworkerPrice" id="field_coworkerPrice"
                    ng-model="vm.priceInfoDtail.coworkerPrice"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
