<div>
    <h2 translate="tikonApp.serviceOptionItem.home.title">Service Option Items</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="service-option-item.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="tikonApp.serviceOptionItem.home.createLabel">
                        Create new Service Option Item
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tikonApp.serviceOptionItem.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="optionName"><span translate="tikonApp.serviceOptionItem.optionName">Option Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="tikonApp.serviceOptionItem.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="optionInfoId"><span translate="tikonApp.serviceOptionItem.optionInfo">Option Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priceInfoId"><span translate="tikonApp.serviceOptionItem.priceInfo">Price Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imagesId"><span translate="tikonApp.serviceOptionItem.images">Images</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="serviceOptionItem in vm.serviceOptionItems track by serviceOptionItem.id">
                    <td><a ui-sref="service-option-item-detail({id:serviceOptionItem.id})">{{serviceOptionItem.id}}</a></td>
                    <td>{{serviceOptionItem.optionName}}</td>
                    <td>{{serviceOptionItem.description}}</td>
                    <td>
                        <a ui-sref="service-option-info-detail({id:serviceOptionItem.optionInfoId})">{{serviceOptionItem.optionInfoId}}</a>
                    </td>
                    <td>
                        <a ui-sref="price-info-detail({id:serviceOptionItem.priceInfoId})">{{serviceOptionItem.priceInfoId}}</a>
                    </td>
                    <td>
                        <a ui-sref="album-info-detail({id:serviceOptionItem.imagesId})">{{serviceOptionItem.imagesId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="service-option-item-detail({id:serviceOptionItem.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="service-option-item.edit({id:serviceOptionItem.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="service-option-item.delete({id:serviceOptionItem.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
