<div ng-cl class="form-group">

    <p>
        {{$ctrl.albumInfoEntity.caption}}
    </p>
    <div class="form-group" >
        <div>
            <div class="row" >

                <div class="col-sm-4">

                    <button type="file" ngf-pattern="'image/*'"   ngf-accept="'image/*'" ngf-max-size="1MB"

                            ngf-select class="btn btn-default btn-block"
                            ngf-change="$ctrl.setFileData($file)" >
                        Add blob
                    </button>
                    <!--<img  ngf-size="{width: 100, height: 100, quality: 0.9}"  ngf-thumbnail="vm.file1 || '/thumb.jpg'"/>-->

                    <div ng-class="  {'noimage imageholder ' :$ctrl.currentImage.fileData==null,'imageholder':$ctrl.currentImage.fileData!=null}"  >
                        <img src="{{$ctrl.imagesrc()}}"   />
                    </div>
                    <img-crop image="$ctrl.file"
                              result-image="$ctrl.croppedDataUrl" ng-init="croppedDataUrl=''">
                    </img-crop>
                    <div class="col-sm-4">

                    </div>
                </div>
            </div>



        </div>

    </div>
</div>
