
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCapacityExceptionLabel" translate="tikonApp.capacityException.home.createOrEditLabel">Create or edit a Capacity Exception</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.capacityException.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.capacityException.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.capacityException.exceptionType" for="field_exceptionType">Exception Type</label>
            <input type="number" class="form-control" name="exceptionType" id="field_exceptionType"
                    ng-model="vm.capacityException.exceptionType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.capacityException.reserveTime" for="field_reserveTime">Reserve Time</label>
                <div class="input-group">
                    <input id="field_reserveTime" type="text" class="form-control" name="reserveTime" datetime-picker="{{dateformat}}" ng-model="vm.capacityException.reserveTime" is-open="vm.datePickerOpenStatus.reserveTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('reserveTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.capacityException.newQty" for="field_newQty">New Qty</label>
            <input type="number" class="form-control" name="newQty" id="field_newQty"
                    ng-model="vm.capacityException.newQty"
                     />
        </div>

        <div class="form-group">
            <label translate="tikonApp.capacityException.serviceCapacityInfo" for="field_serviceCapacityInfo">Service Capacity Info</label>
            <select class="form-control" id="field_serviceCapacityInfo" name="serviceCapacityInfo" ng-model="vm.capacityException.serviceCapacityInfoId" ng-options="serviceCapacityInfo.id as serviceCapacityInfo.id for serviceCapacityInfo in vm.servicecapacityinfos"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
