
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myParticipantPersonLabel" translate="tikonApp.participantPerson.home.createOrEditLabel">Create or edit a Participant Person</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.participantPerson.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.participantPerson.id" readonly />
        </div>

        <div class="form-group">
            <label translate="tikonApp.participantPerson.personInfo" for="field_personInfo">Person Info</label>
            <select class="form-control" id="field_personInfo" name="personInfo" ng-model="vm.participantPerson.personInfoId" ng-options="personInfo.id as personInfo.id for personInfo in vm.personinfos"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="tikonApp.participantPerson.orderBagItemDtail" for="field_orderBagItemDtail">Order Bag Item Dtail</label>
            <select class="form-control" id="field_orderBagItemDtail" name="orderBagItemDtail" ng-model="vm.participantPerson.orderBagItemDtailId" ng-options="orderBagServiceItemDtail.id as orderBagServiceItemDtail.id for orderBagServiceItemDtail in vm.orderbagserviceitemdtails"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
