<div>

    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
        <!--</div>-->
    <!--</div>-->
  <!---->


    <div id="agreementInfo" >
        <!--<div class="form-group" ng-show="vm.agreementInfo.id">-->
            <!--<label for="id" translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                   <!--ng-model="$ctrl.agreementInfo.id" readonly />-->
        <!--</div>-->
        <div class="form-group" >
            <label style="padding: 10px"  active="active" class="control-label" translate="tikonApp.agreementInfo.rules" for="field_rules">Rules</label>
            <div height="300" style="padding: 10px"   type="text" summernote class="form-control" name="rules" id="field_rules"
                 ng-model="$ctrl.agreement.rules"
            >
            </div>
        </div>
        <div class="form-group" style="height: 310px" >
            <label style="padding: 10px"  class="control-label" translate="tikonApp.agreementInfo.agreement" for="field_agreement">Agreement</label>
            <div height="300"  type="text" summernote  class="form-control" name="agreement" id="field_agreement"
                 ng-model="$ctrl.agreement.agreement"
            >
            </div>
        </div>


    </div>

        <div class="text-center">
        <!-- <jhi-item-count page="$ctrl.page" total="$ctrl.queryCount"></jhi-item-count>
         <uib-pagination class="pagination-sm" total-items="$ctrl.totalItems" ng-model="$ctrl.page" ng-change="$ctrl.transition()"></uib-pagination>-->
    </div>


</div>
