<div>
    <h2 translate="tikonApp.imageData.home.title">Image Data</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="image-data.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="tikonApp.imageData.home.createLabel">
                        Create new Image Data
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tikonApp.imageData.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileName"><span translate="tikonApp.imageData.fileName">File Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="caption"><span translate="tikonApp.imageData.caption">Caption</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileType"><span translate="tikonApp.imageData.fileType">File Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileData"><span translate="tikonApp.imageData.fileData">File Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="thumbnailData"><span translate="tikonApp.imageData.thumbnailData">Thumbnail Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isCoverImage"><span translate="tikonApp.imageData.isCoverImage">Is Cover Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="albumInfoId"><span translate="tikonApp.imageData.albumInfo">Album Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="imageData in vm.imageData track by imageData.id">
                    <td><a ui-sref="image-data-detail({id:imageData.id})">{{imageData.id}}</a></td>
                    <td>{{imageData.fileName}}</td>
                    <td>{{imageData.caption}}</td>
                    <td>{{imageData.fileType}}</td>
                    <td>
                        <a ng-if="imageData.fileData" ng-click="vm.openFile(imageData.fileDataContentType, imageData.fileData)" translate="entity.action.open">open</a>
                        <span ng-if="imageData.fileData">{{imageData.fileDataContentType}}, {{vm.byteSize(imageData.fileData)}}</span>
                    </td>
                    <td>
                        <a ng-if="imageData.thumbnailData" ng-click="vm.openFile(imageData.thumbnailDataContentType, imageData.thumbnailData)" translate="entity.action.open">open</a>
                        <span ng-if="imageData.thumbnailData">{{imageData.thumbnailDataContentType}}, {{vm.byteSize(imageData.thumbnailData)}}</span>
                    </td>
                    <td>{{imageData.isCoverImage}}</td>
                    <td>
                        <a ui-sref="album-info-detail({id:imageData.albumInfoId})">{{imageData.albumInfoId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="image-data-detail({id:imageData.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image-data.edit({id:imageData.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image-data.delete({id:imageData.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
