
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myImageDataLabel" translate="tikonApp.imageData.home.createOrEditLabel">Create or edit a Image Data</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.imageData.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.imageData.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.imageData.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="vm.imageData.fileName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.imageData.caption" for="field_caption">Caption</label>
            <input type="text" class="form-control" name="caption" id="field_caption"
                    ng-model="vm.imageData.caption"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.imageData.fileType" for="field_fileType">File Type</label>
            <input type="text" class="form-control" name="fileType" id="field_fileType"
                    ng-model="vm.imageData.fileType"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFileData($file, vm.imageData)">
            <label class="control-label" translate="tikonApp.imageData.fileData" for="field_fileData">File Data</label>
            <div>
                <div class="row" >
                    <div class="col-sm-4" ></div>
                    <div class="col-sm-4">
                        <!--<div ng-if="vm.imageData.fileData" class="help-block clearfix">-->
                            <!--<a class="pull-left" ng-click="vm.openFile(vm.imageData.fileDataContentType, vm.imageData.fileData)" translate="entity.action.open">open</a><br>-->
                            <!--<span class="pull-left">{{vm.imageData.fileDataContentType}}, {{vm.byteSize(vm.imageData.fileData)}}</span>-->
                            <!--<button ng-click="vm.imageData.fileData=null;vm.imageData.fileDataContentType=null;"-->
                                    <!--class="btn btn-default btn-xs pull-right">-->
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                        <button type="file" ngf-pattern="'image/*'" ng-model="vm.file1"   ngf-accept="'image/*'" ngf-max-size="1MB"

                                ngf-select class="btn btn-default btn-block"
                                ngf-change="vm.setFileData($file, vm.imageData)" translate="entity.action.addblob">
                            Add blob
                        </button>
                        <!--<img  ngf-size="{width: 100, height: 100, quality: 0.9}"  ngf-thumbnail="vm.file1 || '/thumb.jpg'"/>-->

                        <div ng-class="  {'noimage imageholder ' :vm.imageData.fileData==null,'imageholder':vm.imageData.fileData!=null}"  >
                            <img ng-src="{{vm.imagesrc(vm.imageData.fileDataContentType, vm.imageData.fileData)}}"   />
                    </div>
                    <div class="col-sm-4">

                        </div>
                    </div>
                </div>



            </div>
            <input type="hidden" class="form-control" name="fileData" id="field_fileData"
                    ng-model="vm.imageData.fileData"
                     />
            <input type="hidden" class="form-control" name="fileDataContentType" id="field_fileDataContentType"
                    ng-model="vm.imageData.fileDataContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setThumbnailData($file, vm.imageData)">
            <label class="control-label" translate="tikonApp.imageData.thumbnailData" for="field_thumbnailData">Thumbnail Data</label>
            <div>
                <div ng-if="vm.imageData.thumbnailData" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.imageData.thumbnailDataContentType, vm.imageData.thumbnailData)" translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.imageData.thumbnailDataContentType}}, {{vm.byteSize(vm.imageData.thumbnailData)}}</span>
                    <button ng-click="vm.imageData.thumbnailData=null;vm.imageData.thumbnailDataContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setThumbnailData($file, vm.imageData)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="thumbnailData" id="field_thumbnailData"
                    ng-model="vm.imageData.thumbnailData"
                     />
            <input type="hidden" class="form-control" name="thumbnailDataContentType" id="field_thumbnailDataContentType"
                    ng-model="vm.imageData.thumbnailDataContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tikonApp.imageData.isCoverImage" for="field_isCoverImage">Is Cover Image</label>
            <input type="checkbox" class="form-control" name="isCoverImage" id="field_isCoverImage"
                    ng-model="vm.imageData.isCoverImage"
                     />
        </div>

        <div class="form-group">
            <label translate="tikonApp.imageData.albumInfo" for="field_albumInfo">Album Info</label>
            <select class="form-control" id="field_albumInfo" name="albumInfo" ng-model="vm.imageData.albumInfoId" ng-options="albumInfo.id as albumInfo.id for albumInfo in vm.albuminfos"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
